<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/styles/Credit.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit</title>
</head>
<body>

<form action="/startgame" id="form" method="get">
    <div id="ParentCredit">
        <input type="submit" id="InputCredit" value="Return To Start Page">
    </div>

    <p id="HangManWeb">HangMan-Web Game Logic : Anthony CAVAGNE</p>
    <p id="HangMan">HangMan Game Logic : Matis BLONDY</p>
</form>
</body>
</html>