<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/styles/Difficulty.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chose Difficulty</title>
</head>
<body>

<form action="/startgame" id="form" method="get">

    <div id="ParentReturn">
        <input type="submit" id="InputReturn" value="Return to Start Page">
    </div>

</form>

<form method="POST" id="TxtFile">
    <p id="TittleDif">Please choose the txt file of your choice :</p>
    <div id="ToCenter">
        <input type="radio" id="contactChoice1"
               name="difficulty" value="words1.txt">
        <label for="contactChoice1">Easy</label>

        <input type="radio" id="contactChoice2"
               name="difficulty" value="words2.txt">
        <label for="contactChoice2">Medium</label>

        <input type="radio" id="contactChoice3"
               name="difficulty" value="words3.txt">
        <label for="contactChoice3">Hard</label>
    </div>
    <div id="ToCenter2">
        <button type="submit">Choose this txt files</button>
    </div>
</form>

<p id="Txt">You have chosen the {{.Difficulty}} difficulty</p>
</body>
</html>