<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartGame Menu</title>
    <link rel="stylesheet" href="public/styles/StartGame.css">
</head>
<body>
<form action="/" id="form" method="get">
    <div id="ParenStart">
        <label id="TittleStart">Start the game :</label>
    </div>
    <div id="ParentInput">
       <input type="submit" id="InputStart" value="Yes">
    </div>

</form>

<form action="/difficulty" id="form" method="get">

    <div id="ParentDif">
        <input type="submit" id="InputDif" value="Choose a difficulty">
    </div>

</form>

<form action="/credit" id="form" method="get">

    <div id="ParentCredit">
        <input type="submit" id="InputCredit" value="See Credit">
    </div>

</form>

</body>
</html>